body {
            font-family: 'Sarabun', sans-serif;
}

/* ซ่อนปุ่มลูกศรในช่อง input type=number */

/* สำหรับ Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* สำหรับ Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* สำหรับ ตาราง */


#apptitle {
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: #f1f1f1;
}
th, td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    width: 100px;
}
input[type="number"],input[type="text"],select {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.tablehead {
    border: 2px solid black;
}
.table-controls {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-controls .left-buttons,
.table-controls .right-buttons {
    display: flex;
    gap: 10px;
}
.table-group {
    margin-bottom: 30px;
}

body {
    /* เพิ่ม padding-top ให้เท่ากับหรือมากกว่าความสูงของ Navbar */
    padding-top: 70px; 
}
